<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="panel-body news paper" style="border:1px solid #ccc">
            <div class="row">
                <div class="col-md-12">
                   
                    
                    <!--<p class="odia-font">ପୁଣି ତିନି ଚାଷୀଙ୍କ ଆତ୍ମହତ୍ୟା ଅଭିଯୋଗ</p><br>
                    <p class="odia-font">
                        <div class="well" id="left">
                            <img src="//placehold.it/280x100/E7E7E7" width="170" height="150">
                        </div>
                        ବଲାଙ୍ଗିର/କେନ୍ଦୁଝର: ଆଜି ପୁଣି ତିନି ଜଣ ଚାଷୀ ଆତ୍ମହତ୍ୟା କରିଥିବା ଅଭିଯୋଗ ହୋଇଛି। ପ୍ରାଣ ହରାଇଥିବା ୩ ଚାଷୀଙ୍କ ମଧ୍ୟରୁ ଦୁଇ ଜଣ ବଲାଙ୍ଗିରର ଓ ଜଣେ କେନ୍ଦୁଝରର। ବଲାଙ୍ଗିରରେ ଆତ୍ମହତ୍ୟା କରିଥିବା ଦୁଇ ଜଣ ଚାଷୀ ହେଲେ ପରିକ୍ଷିତ ନାଗ ଓ କୃତିବାସ ଗହିର।
                        ଭୁବନେଶ୍ୱର: ନିୟମଗିରିରୁ 
                       
                        ବକ୍ସାଇଟ ଖନନ ପାଇଁ ପୁଣି ଗ୍ରାମସଭା କରାଇବାକୁ ଅଣ୍ଟା ଭିଡ଼ିଛନ୍ତି ରାଜ୍ୟ ସରକାର। ଓମଏସି ମାଧ୍ୟମରେ ବକ୍ସାଇଟ୍ ଖଣି ଖନନ ନେଇ ଯୋଜନା ପ୍ରସ୍ତୁତ କରିଛନ୍ତି ସରକାର।
                        ଭୁବନେଶ୍ୱର: ନିୟମଗିରିରୁ ବକ୍ସାଇଟ ଖନନ ପାଇଁ ପୁଣି ଗ୍ରାମସଭା କରାଇବାକୁ ଅଣ୍ଟା ଭିଡ଼ିଛନ୍ତି ରାଜ୍ୟ ସରକାର। ଓମଏସି ମାଧ୍ୟମରେ ବକ୍ସାଇଟ୍ ଖଣି ଖନନ ନେଇ ଯୋଜନା ପ୍ରସ୍ତୁତ କରିଛନ୍ତି ସରକାର।
                        ଭୁବନେଶ୍ୱର: ନିୟମଗିରିରୁ ବକ୍ସାଇଟ ଖନନ ପାଇଁ ପୁଣି ଗ୍ରାମସଭା କରାଇବାକୁ ଅଣ୍ଟା ଭିଡ଼ିଛନ୍ତି ରାଜ୍ୟ ସରକାର। ଓମଏସି ମାଧ୍ୟମରେ ବକ୍ସାଇଟ୍ ଖଣି ଖନନ ନେଇ ଯୋଜନା ପ୍ରସ୍ତୁତ କରିଛନ୍ତି ସରକାର।
                        ଭୁବନେଶ୍ୱର: ନିୟମଗିରିରୁ ବକ୍ସାଇଟ ଖନନ ପାଇଁ ପୁଣି ଗ୍ରାମସଭା କରାଇବାକୁ ଅଣ୍ଟା ଭିଡ଼ିଛନ୍ତି ରାଜ୍ୟ ସରକାର। ଓମଏସି ମାଧ୍ୟମରେ ବକ୍ସାଇଟ୍ ଖଣି ଖନନ ନେଇ ଯୋଜନା ପ୍ରସ୍ତୁତ କରିଛନ୍ତି ସରକାର।
                        ଭୁବନେଶ୍ୱର: ନିୟମଗିରିରୁ ବକ୍ସାଇଟ ଖନନ ପାଇଁ ପୁଣି ଗ୍ରାମସଭା କରାଇବାକୁ ଅଣ୍ଟା ଭିଡ଼ିଛନ୍ତି ରାଜ୍ୟ ସରକାର। ଓମଏସି ମାଧ୍ୟମରେ ବକ୍ସାଇଟ୍ ଖଣି ଖନନ ନେଇ ଯୋଜନା ପ୍ରସ୍ତୁତ କରିଛନ୍ତି ସରକାର।
                        ଭୁବନେଶ୍ୱର: ନିୟମଗିରିରୁ ବକ୍ସାଇଟ ଖନନ ପାଇଁ ପୁଣି ଗ୍ରାମସଭା କରାଇବାକୁ ଅଣ୍ଟା ଭିଡ଼ିଛନ୍ତି ରାଜ୍ୟ ସରକାର। ଓମଏସି ମାଧ୍ୟମରେ ବକ୍ସାଇଟ୍ ଖଣି ଖନନ ନେଇ ଯୋଜନା ପ୍ରସ୍ତୁତ କରିଛନ୍ତି ସରକାର।
                        ଭୁବନେଶ୍ୱର: ନିୟମଗିରିରୁ ବକ୍ସାଇଟ ଖନନ ପାଇଁ ପୁଣି ଗ୍ରାମସଭା କରାଇବାକୁ ଅଣ୍ଟା ଭିଡ଼ିଛନ୍ତି ରାଜ୍ୟ ସରକାର। ଓମଏସି ମାଧ୍ୟମରେ ବକ୍ସାଇଟ୍ ଖଣି ଖନନ ନେଇ ଯୋଜନା ପ୍ରସ୍ତୁତ କରିଛନ୍ତି ସରକାର।
                        ଭୁବନେଶ୍ୱର: ନିୟମଗିରିରୁ ବକ୍ସାଇଟ ଖନନ ପାଇଁ ପୁଣି ଗ୍ରାମସଭା କରାଇବାକୁ ଅଣ୍ଟା ଭିଡ଼ିଛନ୍ତି ରାଜ୍ୟ ସରକାର। ଓମଏସି ମାଧ୍ୟମରେ ବକ୍ସାଇଟ୍ ଖଣି ଖନନ ନେଇ ଯୋଜନା ପ୍ରସ୍ତୁତ କରିଛନ୍ତି ସରକାର।
                        ଭୁବନେଶ୍ୱର: ନିୟମଗିରିରୁ ବକ୍ସାଇଟ ଖନନ ପାଇଁ ପୁଣି ଗ୍ରାମସଭା କରାଇବାକୁ ଅଣ୍ଟା ଭିଡ଼ିଛନ୍ତି ରାଜ୍ୟ ସରକାର। ଓମଏସି ମାଧ୍ୟମରେ ବକ୍ସାଇଟ୍ ଖଣି ଖନନ ନେଇ ଯୋଜନା ପ୍ରସ୍ତୁତ କରିଛନ୍ତି ସରକାର।
                    </p>
                </div>-->
                    <input type="text" ng-model="a" />{{a}}
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
